<h1>Поръчката Ви е приета!</h1>

<p>
    Можете да проследите статуса на Вашата поръчка, както и да разгледате историята на предишните Ви поръчки във
    <a asp-controller="Profile" asp-action="MyProfile" asp-route-userId="@User.FindFirstValue(ClaimTypes.NameIdentifier)">Профил</a>
    като изберете
    <a asp-controller="Profile" asp-action="OrderHistory" asp-route-userId="@User.FindFirstValue(ClaimTypes.NameIdentifier)">История на поръчките</a>.
</p>

<p>Благодарим Ви, че пазарувате от нас!</p>