@model UserInfoViewModel

@{
    ViewBag.Title = "Моят профил";
    Layout = "_Layout";
}
<h2>ViewBag.Title</h2>
<hr />

<div class="row">
    <nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
        <partial name="_ManageNav" />
    </nav>
    <div role="main" style="margin-top: 25px;" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-around flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom text-black">
            <p>Име:</p>
            <p>Фамилия:</p>
            <p>Е-поща:</p>
            <p>Телефонен номер:</p>
        </div>
        <div class="d-flex justify-content-around flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 text-black">
            <p>@Model.FirstName</p>
            <p>@Model.LastName</p>
            <p>@Model.Email</p>
            <p>@Model.PhoneNumber</p>
        </div>
    </div>
</div>

