html {
  font-size: 16px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin: 60px;
    background-image: url(https://comsed.net/image/catalog/Logo-and-backgrounds/home-background.jpg?mtime=1684733149);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.custom-navbar-style{
    width: 1320px;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
}

.custom-top-half-photo {
    height: 50%;
    width: 100%;
    object-fit: cover;
    object-position: top center;
    overflow: hidden;
}