@inject IUserService UserService

@model UserViewModel

<ul class="navbar-nav">
    @if (UserService.IsUserSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Customer" asp-controller="Cart" asp-action="Cart">Количка</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Customer" asp-controller="Profile" asp-action="MyProfile" title="Manage">Профил</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-controller="Auth" asp-action="Logout" method="post">
                <button type="submit" class="nav-link btn btn-link text-dark">Изход</button>
                @Html.AntiForgeryToken()
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Auth" asp-action="Register">Регистрация</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Auth" asp-action="Login">Вход</a>
        </li>
    }
</ul>
