<nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" asp-controller="Profile" asp-action="MyProfile">Моят профил</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Profile" asp-action="EditProfile">Редакция на профила</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Profile" asp-action="ChangePassword">Промяна на парола</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Profile" asp-action="EditAddress">Редакция на адреса</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Profile" asp-action="OrderHistory">История на поръчките</a>
            </li>
        </ul>
    </div>
</nav>
