@{
    ViewBag.Title = "За нас";
}

<h2>@ViewBag.Title</h2>
<hr />

<div class="container-fluid">
    <div class="row">
        <div style="text-align:center">
            <img src="@Url.Content("https://drive.google.com/uc?export=download&id=10viZBioroHpOo2q0XFrk7Jbr7B2FNGKY")" class="custom-top-half-photo mb-3">
            <div style="text-align:justify">
                <p>
                    <span style="font-weight: bold">Ицо Бийч</span> е професионална платформа за онлйан търговия. Ние Ви предоставяме широка гама от най-качествените продукти за плаж от множоство установили се на пазара производители. Ние сме фокусирани върху осигуряване на възможно най-приятното прекарване на морскоро крайбрежие както за малчуганите, така и за техните родители. Стараем се да сме надеждни и да знаете, че може да разчитате на нас. Искрено се надяваме да останете толкова удовлетворени от нашите услуги, колкото ние сме удовлетворени да Ви ги предоставяме!
                </p>
                <p>Ако имате въпроси, или искате да се свържете с нас, може да видите нашата информация за контакт <a asp-controller="Home" asp-action="Contact">тук</a>.</p>
                <p style="font-weight: bold; text-align: center;">
                    Благодарим Ви, че сте наш клиент!<br><br>
                </p>
            </div>
        </div>
    </div>
</div>