@model List<IndexViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron jumbotron-fluid text-center">
    <h1 class="display-4">Ицо Бийч - магазин за летни забавления и усмивки</h1>
    <p class="lead">Подгответе се за невероятно плажно изживяване с нашите висококачествени плажни продукти!</p>
</div>
<hr />

<partial name="_GetProductsPartial" />