@model List<IndexViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron jumbotron-fluid text-center">
    <h1 class="display-4">Ицо Бийч - магазин за летни забавления и усмивки</h1>
    <p class="lead">Подгответе се за невероятно плажно изживяване с нашите висококачествени плажни продукти!</p>
    <a href="#" class="btn btn-primary btn-lg">Shop Now</a>
</div>
<hr />

<div class="container mt-5">
    <div class="row">
        @foreach (var product in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="@Url.Content(product.ImageUrl)" class="card-img-top" alt="@product.Name">
                    <div class="card-body">
                        <h5 class="card-title">@product.Name</h5>
                        <p class="card-text">@product.Price.ToString("C")</p>
                        <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>